

html {
  box-sizing: border-box;

font-family: 'Clash Display' sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

    background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 90%;

  display: flex;
  text-align: center;
  font-family: virgil;
}

.tagline {
  line-height: 1;
  font-size: 2rem;
  margin-bottom: 20px;
}

.logo {
  font-size: 4rem;
  font-weight: 300;
}



